@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .img-fluid {
        width: 150px;
        height: 100px;
    }
    .header {
        font-size: 17px;
    }
    .date {
        font-size: 12px;
    }
    .left
    .right {
        height: 150px;
    }
    .text-left {
        font-size: 10px;
    }
    .title {
        font-size: 13px;
    }
    .ps-2 {
        width: 20px; 
        height: 20px;
    }
    .desc {
        height: 90px;
        font-size: 10px;
    }
    .text {
        position: relative;
        top: -20px;
        margin-bottom: 1px;
    }
  }

